NODE_ENV='development'
PORT=3000
API_URL=http://localhost:3000
JWT_SECRET=<your-jwt-secret>

DATABASE_URL="sqlserver://<db-host>:<db-port>;database=<db-name>;user=<db-user>;password=<db-password>;trustServerCertificate=true;"

DB_HOST="<db-host>"
DB_PORT=1433
DB_NAME="<db-name>"
DB_USER="<db-user>"
DB_PASSWORD="<db-password>"
DB_TIMEOUT=<db-timeout>
DB_POOL_MIN_CONNECTIONS=<db-pool-min-connections>
DB_POOL_MAX_CONNECTIONS=<db-pool-max-connections>
DB_TRUST_SERVER_CERTIFICATE=<db-trust-server-certificate>
DB_ENCRYPT=<db-encrypt>
DB_TRUST_CONNECTION=<db-trust-connection>
TAX_RATE=6.75